
body {
  background-color: #f4f6ff ;
}
hr {
  background-color: #f4f6ff;
  border-color: #333;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
h1
{

    color: #63b7af;
    height: 100%;
    width: 20%;

    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;


}
@-webkit-keyframes move_eye { from { margin-left: 0%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: 0%; } to { margin-left: 100%; }  }
h2
{
  color:#63b7af;
}
h3
{
  color:#63b7af;
}
